@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap');


html{
    overflow-x: hidden;
}
*, p{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Playfair Display', serif;
}

.formulario{
    -webkit-box-shadow: 0px 0px 10px 4px #000000; 
    box-shadow: 0px 0px 10px 4px #000000;
    background: rgb(221,221,221);
    background: linear-gradient(0deg, rgba(221,221,221,1) 0%, rgba(255,255,255,1) 84%);
}
.container{
    margin-bottom: 19.1em;
}

header{
    background: rgb(255,255,255);
    background: -moz-linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(128,128,128,1) 20%, rgba(0,0,0,1) 74%);
    background: -webkit-linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(128,128,128,1) 20%, rgba(0,0,0,1) 74%);
    background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(128,128,128,1) 20%, rgba(0,0,0,1) 74%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#000000",GradientType=1);
}

.header-content{
    border-bottom: 8px solid #eeff03;
    height: 6em;
}

.titulo{
    font-weight: bold;
    color: #ffff;
    font-size: 4em;
}

.subtitulo, .texto{
    font-weight: bolder;
}

footer{
    background-color: #000000;
}


.texto-footer{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffff;
    height: 4em;

}
